img {
    height: 200px;
}

body {
    padding: 0px;
    margin: 0px;
}

main {
    padding: 16px;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(142, 190, 45);
    position: sticky;
    bottom: 0px;

}

nav {
    border-bottom: black 1px solid;
    background-color: tomato;
    text-decoration: rgb(40, 135, 218);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.gridstyle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

a:link {
    text-decoration: none;

}

a:visited {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
    color: rgb(244, 118, 50);
}

a:active {
    text-decoration: none;

}

nav > a {
    color: rgb(255, 255, 255);
}

a {
    color: rgb(132, 177, 41);
}

h1 {
    color: rgb(40, 128, 79);
}

nav > a:hover{
    color: black;
}

/* table, th, td {
    border: 2px solid;
    border-collapse: collapse;
    width: 50px
} */

tr:nth-child(even) {
    background-color: rgb(210, 208, 208);
}
